* {
  box-sizing: border-box;
}

body {
  height: 100%;
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(13px + (26 - 13) * ((100vw - 300px) / (1600 - 300)));
  /* font-family: 'Times New Roman'; */
  font-family: "Roboto", "Helvetica Neue", "Arial", "Open Sans";
  background-color: #ecf0f1;
  text-rendering: optimizeLegibility;
  color: rgb(33, 37, 41);
}

/* Content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 1.5em 2.490em;
  flex-direction: column;
}

.section .section-list .certification {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}

.section .section-list .certification div {
  margin: 0px
}

.section .section-list .certification .badge {
  height: calc(80px + (110 - 80) * ((100vw - 300px) / (1600 - 300)));
  width: calc(80px + (110 - 80) * ((100vw - 300px) / (1600 - 300)));
  margin-right: 14px;
}

#header > h1 {
  margin-bottom: 0px;
}

#header > h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  align-items: center;
}
.social-logo {
  width: 26px;
  margin: 0px 10px 0px 0px;
}

.section h1 {
  margin: 0px auto;
}

.section .section-list div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.section .section-list div > span.links {
  font-weight: normal;
  margin-left: 10px;
}

@media (min-width: 1200px) {
  body {
    font-size: 19.6px;
  }
}
